/* Font definition */

body {
    overflow: hidden;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #151515;
    font-size: 20px;
}

/* Basic global styles */

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 38px;
}

p {
    margin-bottom: 0.5em;
}

a,
a:visited {
    color: #2677C0;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

.footer-header {
    font-size: 1.2em;
}

.card-text {
    font-weight: 300;
}


/* Logo */

.logo {
    position: relative;
    margin-bottom: 0.5em;
    font-size: 46px;
}

.logo a {
    position:relative;
    z-index: 1;
}

.logo a img {
    background-color: #fff;
}

.taghta-logo {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: #fff;
    font-size: 1rem;
}

@media (max-width: 480px) {
    .taghta-logo {
        display: none;
    }
}

/* Blocks styling */

.container {
    max-width: 1240px;
}

.main-body {
    background: #fff url('/images/taghta-bg.jpg') repeat-x;
}

/* Button links */

.btn-link {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 20px;
    background-color: #BAD7E2;
    padding: 5px 10px 5px 10px;
    color: #2677C0;
}

.btn-link:visited {
    color: #2677C0;
}

.btn-link-email {
    background-image: url('/images/taghta-email-blue-white.png');
    background-position: 5px;
    background-size: auto 80%;
    background-repeat: no-repeat;
    padding-left: 40px;
}

/* Book card */

.card {
    font-weight: 400;
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.overlay {
    position: relative;
    overflow: hidden;
    cursor: default;
}

.overlay .mask {
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}

.waves-effect {
    background-color: rgba(255,255,255,0.1);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.waves-effect::after {
    background-color: rgba(255,255,255,0.1);
}
